.container {
  position: relative;
  min-height: 100px;
  height: 100%;
  width: 100%;
}

.foot {
  height: 50px;
  bottom: -5%;
}

.leftFoot {
  composes: foot;
  position: absolute;
  left: 12%;
}

.rightFoot {
  composes: foot;
  position: absolute;
  left: 75%;
}
