.container {
  position: relative;
  min-height: 100px;
  height: 100%;
  width: 100%;

  border: 10px solid green;
}

.leftEye {
  position: absolute;
  top: 70%;
  left: 20%;
}

.rightEye {
  position: absolute;
  top: 70%;
  left: 40%;
}
