.container {
  position: relative;
  min-height: 100px;
  height: 100%;
  width: 100%;

  border: 1px solid blue;
}

.inner {
  position: absolute;
  height: 60%;

  left: 55px;
  bottom: 0;
}

.outer {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
